DATABASE_URL=postgresql://neondb_owner:npg_knZKCL6p5qjA@ep-orange-mud-ahoq9fid-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=your-super-secret-refresh-token-key
REFRESH_TOKEN_EXPIRES_IN=7d
PORT=4000
NODE_ENV=development
